@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jacques+Francois&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

html,
body,
:root {
  @apply bg-[#e8cf9b] text-gray-800;
  font-family: 'Libre Caslon Text', serif;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: '#ffffff';
}

::-webkit-scrollbar-thumb {
  background: '#1300ff';
  --webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: '#ffffff';
}
